DB_HOST=localhost
DB_USER=bdswimmi_admin
DB_PASSWORD=z+^LnL^ATh.t46sD
DB_NAME=bdswimmi_adroid_swimming
DB_PORT=3306
JWT_SECRET=supersecret_jwt_key_change_me
PORT=3000
NODE_ENV=development

User “bdswimmi_admin” was added to the database “bdswimmi_adroid_swimming”.